body {
  width: 420px;
  overflow-x: hidden;
}

div.link {
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  overflow: hidden;
  line-height: 14px;
}

div.link:hover {
  background-color: #77bb77;
  color: white;
}

.favicon {
  width: 14px;
  height: 14px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 7px;
  float: left;
}

.tabinfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.bold {
  font-weight: bold;
}

hr {
  margin: 4px 0px 4px 0px;
  border: 1px solid grey;
}
