body {
  width: 420px;
  overflow-x: hidden;
}

.display-none {
  display: none;
}

div.link {
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  overflow: hidden;
  line-height: 14px;
}

div.link:hover {
  background-color: #77bb77;
  color: white;
}

.favicon {
  width: 14px;
  height: 14px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 5px;
  float: left;
}

.tabinfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.currenttab, .italic {
  font-style: italic;
}

.tabmarker {
  margin-left: 1px;
  content: '\00B7';
  font-weight: bold;
  font-size: x-large;
  float: left;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

hr {
  margin: 4px 0px 4px 0px;
  border: 1px solid grey;
}
